@import url(http://fonts.googleapis.com/css?family=Kreon);

* {
  font-family: Arial, Sans-Serif;
  letter-spacing: 0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hIEfix.png,sizingMethod=crop);
  zoom: 1;
}

.ui-body-e {
  color: #fff;
  background: #ff6600;
}

.custom-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .5;
  filter: Alpha(Opacity=50);
}

.note {
  display: block;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5;
}

#list ul li a {
  display: block;
  background-image: url('images/hIEfix.png'); /* Fix result listing anchors for IE8 */
  margin: -1px -1px 0 0;
}

h2 {
  color: #FF6600;
  margin-top: 0;
}

#about .ui-content > p {
  line-height: 1.5;
  margin-top: 0;
}

#about a {
  word-break: break-all; /* Avoid hyperlinks overflowing in x-axis */
}

#info h2 {
  color: #222;
  max-width: 98%; /* Avoid overlapping info button on smaller displays */
}

#info .ui-btn-up-a .ui-icon {
  color: #333 !important;
}

.ui-header .ui-btn-hover-a {
  border: 0;
  margin: 2px 0 0;
  background: #fff;
}

.ui-header .ui-btn-hover-a:hover {
  color: #FF6600;
}

.ui-header .ui-btn-up-a {
  border: 0;
  margin: 2px 0 0;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-btn-hover-a h2 {
  color: #fff;
}

div.ui-input-text input.ui-input-text,
div.ui-input-text textarea.ui-input-text,
.ui-input-search input.ui-input-text {
  padding: .4em 10px;
}

#region_information,
#search_form_intro {
  display: block;
  text-align: center;
}

#search_form_intro {
  background: #fff;
  padding: 6px 5px;
  border: 1px solid #aaa;
  opacity: 0.9;

  -moz-border-radius: 1em;
  -webkit-borde-radius: 1em;
  border-radius: 1em;
}

.rubric > p {
  display: none;
  font-size: 0.95em;
  line-height: 1.3;
  text-align: right;
}

.rubric > p:last-child {
  margin-bottom: 20px;
}

#info_btn_desc {
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 10px;
}

footer.ui-footer {
  font-size: 0.85em;
  text-align: center;
}

#powered-by {
  color: #fff;
  padding: 7px 0;
  font-weight: normal;
  border: none;
  background: none;
}

#powered-by .ui-btn-inner {
  border: 0;
}

/* Search page */
#search {
  background: url('images/map3.jpg') no-repeat center center fixed;

   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/map3.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/map3.jpg', sizingMethod='scale')";
}

#search footer {
  border: 0;
  background: none;
}

#search .ui-content {
  max-width: 800px;
}

#search .ui-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search label {
  font-family: 'Kreon', sans-serif;
  font-size: 1.2em;
  text-align: center;
  line-height: 0.9;
}

#search .discover {
  font-family: 'Kreon', sans-serif;
  font-size: 1.2em;
  display: block;
}

/* IE7 */
/* Hide 'Compare regions' button */
.lt-ie8 #btn_moreinfo {
  display: none;
}

.lt-ie8 .ui-navbar li {
  width: 100%;
}

/* Vertical scroll fix */
.scrollable {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 1px;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* iOS specific fix, don't use it on Android devices */
.scrollable > * {
  -webkit-transform: translateZ(0px);
}

/* Will be compiled down to a single stylesheet with your sass files */
/* A bit custom styling */
#chart {
  margin: auto;
}

/* Set default height and width values. This is overidden in browsers except IE7 */
.flot-chart {
  height: 250px;
  width: 100%;
}

.lt-ie8 .flot-chart {
  width: 300px;
}

.flot-chart div {
  overflow: visible !important;
}

#trends-text ul { list-style: none; padding-left: 0px; }
#trends-text ul li + li { margin-top: 10px; }
.increasing { color: #FF6600; }
.decreasing { color: #F74040; }

#list {
  background: #222;
}
/* Link to the Google webfont is in the head */
#list .ui-title, #list .ui-li-aside {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
#list .ui-header {
  color: white;
}
#list .ui-footer {
  color: #666;
}
#list .ui-li-aside {
  color: #990099;
}

/* Graph */
.rickshaw_graph .x_tick .title {
  color: #000;
}

/* Region map */

#region-map h2 {
  position: absolute;
  margin: 0;
}

#region-map path,
#region-map rect {
  cursor: pointer;
}

/* Region popup */
.ui-popup-screen {
  background-color: #000;
}

#region-popup {
  position: relative;
  padding: 10px;
  margin-top: 35px;
  border-color: #FF6600;
  border-width: 2px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

#region-popup h3 {
  margin: 0 0 10px;
  width: 90%;
  color: #FF6600;
  cursor: pointer;
}

#region-popup p {
  margin-bottom: 0;
  line-height: 1.5;
}

#region-popup .increasing,
#region-popup .decreasing {
  color: #222;
}

#region-popup span {
  color: #fff;
  background: #ff6600;
  text-transform: capitalize;
  padding: 4px 5px 4px 6px;
  font-size: 0.8em;
  font-weight: bold;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#region-popup .decreasing span { background: #F74040; }

#region-popup .increasing span:before { content: "\25B2"; padding-right: 4px; }
#region-popup .decreasing span:before { content: "\25BC"; padding-right: 4px; }

#region-popup .popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: #FF6600;
  padding: 4px 9px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#list .job-description {
  display: none;
  padding: 0 53px 5px 15px;
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  font-size: 0.8em;
  line-height: 1.5;
}

#list .noresults {
  color: #fff;
  text-align: center;
}

/* First breakpoint is 768px. 3 column layout. Tiles 250x250 pixels at the breakpoint. */
@media all and (min-width: 768px){
  #info_btn_desc {
    display: none;
  }

  .rubric > p {
    display: block;
  }

  #search .ui-content {
    margin: 2em auto;
  }

  #list .ui-listview .job-description{
    display: block;
    position: absolute;
  }

  #list .ui-content {
    padding: 9px;
  }
  
  #list .ui-listview .ui-li.ui-btn {
    float: left;
    width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
    height: 232px;
    margin: 9px 1.2%;
    border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
  }
  /* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
  #list .ui-listview .ui-li.ui-btn-inner {
    border: inherit;
    border-width: 1px;
    margin: -1px;
  }
  #list .ui-listview .ui-btn-inner,
  #list .ui-listview .ui-btn-text,
  #list .ui-listview .ui-link-inherit,
  #list .ui-listview .ui-li-thumb {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }
  #list .ui-listview .ui-link-inherit {
    padding: 0 !important;
    position: relative;
  }
  /* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
  #list .ui-listview .ui-li,
  #list .ui-listview .ui-btn-text,
  #list .ui-listview .ui-link-inherit,
  #list .ui-listview .ui-li-thumb {
    -webkit-border-radius: inherit;
    border-radius: inherit;
  }
  #list .ui-listview .ui-li-thumb {
    height: auto; /* To keep aspect ratio. */
    max-width: 100%;
    max-height: none;
    margin: 0;
    left: 0;
    z-index: -1;
  }
  /* Hide the icon */
  #list .ui-listview .ui-btn-icon-notext {
    display: none;
  }
  /* Make text wrap. */
  #list .ui-listview .ui-li-heading,
  #list .ui-listview .ui-li-desc {
    white-space: normal;
    overflow: visible;
    padding-left: 20px;
  }
  /* Text position */
  #list .ui-listview .ui-li-heading {
    margin: 0;
    padding: 20px;
  }
  #list .ui-listview .ui-li-desc {
    margin: 0;
    padding: 0 20px;
    height: 110px;
    bottom: 20px;
    line-height: 1.5;
    overflow: hidden;
  }
  #list .ui-listview li:hover .ui-li-desc {
    overflow-y: auto;
    margin-right: 20px;
  }
  /* Semi transparent background and different position if there is a thumb */
  .ui-listview .ui-li-has-thumb .ui-li-heading,
  .ui-listview .ui-li-has-thumb .ui-li-desc {
    background: #111;
    background: rgba(0,0,0,.8);
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }
  .ui-listview .ui-li-has-thumb .ui-li-heading {
    padding: 10px;
    bottom: 20%;
  }
  .ui-listview .ui-li-has-thumb .ui-li-desc {
    padding: 0 10px;
    min-height: 20%;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  /* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
  #list .ui-listview .ui-li-desc.ui-li-aside {
    padding: 2px 10px;
    width: auto;
    min-height: 0;
    top: 0;
    left: auto;
    bottom: auto;
    /* Custom styling. */
    color: #c0c0c0;
    background: #990099;
    background: rgba(153,0,153,.85);
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
  #list .ui-listview .ui-btn:hover {
    -moz-box-shadow: 0px 0px 12px #FF6600;
    -webkit-box-shadow: 0px 0px 12px #FF6600;
    box-shadow: 0px 0px 12px #FF6600;
  }
  /* Animate focus and hover style, and resizing. */
  #list .ui-listview .ui-btn {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
  }
}
/* Second breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
  #list .ui-content {
    padding: 10px;
  }
  /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
  but we stick to percentage values for demo purposes. */
  #list .ui-listview .ui-li.ui-btn {
    width: 23%;
    height: 230px;
    margin: 10px 1%;
  }
  /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
  By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
  #list .ui-listview {
    max-width: 1000px;
    margin: 0 auto;
  }
}

#info .rubric {
  position: absolute;
  z-index: 999;
  margin-right: 20px;
}

#info .chart {
  position: fixed;
  bottom: 0;
  left: 0;
}

.region { fill: #ddc; }
.trendIncreasing { fill: green; }
.trendDecreasing { fill: red; }
.trendStable { fill: orange; }

.region-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.ui-bar-a {
  border: 1px solid #b3b3b3 /*{a-bar-border}*/;
  background: #FF6600 /*{a-bar-background-color}*/;
  color: #fff /*{a-bar-color}*/;
  font-weight: bold;
  text-shadow: 0 /*{a-bar-shadow-x}*/ 0px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #ffffff /*{a-bar-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #FF6d00 /*{a-bar-background-start}*/), to( #ed5e00 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #FF6d00 /*{a-bar-background-start}*/, #ed5e00 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #FF6d00 /*{a-bar-background-start}*/, #ed5e00 /*{a-bar-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #FF6d00 /*{a-bar-background-start}*/, #ed5e00 /*{a-bar-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #FF6d00 /*{a-bar-background-start}*/, #ed5e00 /*{a-bar-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #FF6d00 /*{a-bar-background-start}*/, #ed5e00 /*{a-bar-background-end}*/);
}
